body {
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  color: #252931;
  font-weight: normal;
  margin: 32px;
  font-size: 20px;
  line-height: 1.6;
  background: #f9fafb;
}
h1 {
  font-size: 2rem;
}
h2 {
  color: #760e05;
  font-size: 1.5rem;
}
h3 {
  color: #c87528;
  font-size: 1.3rem;
}
